<header class="page-header">
    <nav class="navbar navbar-expand-lg justify-content-around">
        <a href="/" class="navbar-brand main-logo">
            Zaplanuj <span>Jedzonko</span>
        </a>
        <ul class="nav nounderline text-uppercase">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item ml-4">
                    <a class="nav-link color-header" asp-action="index" asp-controller="dashboard">Panel</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link color-header" asp-action="Logout" asp-controller="Account">Wyloguj</a>
                </li>
            }
            else
            {
                <li class="nav-item ml-4">
                    <a class="nav-link color-header" asp-action="Login" asp-controller="Account">Logowanie</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link color-header" asp-action="Register" asp-controller="Account">Rejestracja</a>
                </li>
            }

            <li class="nav-item ml-4">
                <a class="nav-link" asp-action="About" asp-controller="Home">O aplikacji</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" asp-action="Recipes" asp-controller="Home">Przepisy</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" asp-action="Contact" asp-controller="Home">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>